w2g.desktop/obj/*
w2g.desktop/bin/*
.vs/*
w2g.desktop/.vs/*
w2g.core/obj/*
w2g.core/bin/*
w2g.core.tests/obj/*
w2g.core.tests/bin/*
w2g.core.standart/bin/*
w2g.core.standart/obj/*
w2g.ui/obj/*
w2g.ui/bin/*
w2g.ui/AppPackages/*
w2g.ui/BundleArtifacts/*